<p>todo-row works!</p>
<tr>
    <td>{{todos[0].id}}</td>
    <td>{{todos[0].userId}}</td>
    <td [class.is-completed]="todos[0].completed">{{todos[0].title}}</td>
    <td>{{todos[0].completed}}</td>
    <td>
        <app-rating [starsNumber]=4></app-rating>
    </td>
</tr>

<tr>
    <td>{{todos[1].id}}</td>
    <td>{{todos[1].userId}}</td>
    <!-- <td [class.is-completed]="todos[0].completed">{{todos[1].title}}</td> -->
    <!-- <td [style.text-decoration]="todos[0].completed ? 'line-through' : ''">{{todos[1].title}}</td> -->
    <td [style.text-decoration]="todos[0].completed ? 'line-through' : ''">{{todos[1].title}}</td>
    <td>{{todos[1].completed}}</td>
    <td>
        <app-rating [starsNumber]=3></app-rating>
    </td>
</tr>
